<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <div class="action">
    <%= f.submit "submit" %>
  </div>
<% end %>

<div>
  <h2 id="productName"></h2>
  <p id="productPrice"></p>
  <p id="productDescription"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
      $("form").submit( function(e) {
        e.preventDefault()
        var values = $(this).serialize()
        var post = $.post("/products", values)
        post.done(function(data) {
          $("#productName").text(data.name);
          $("#productPrice").text(data.price);
          $("#productDescription").text(data.description);
        })
      })
  })
</script>